  <div class="col-md-5">
            <div class="list-group">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="room" placeholder="Créer une room" />
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning" ng-click="createRoom();room='';">
                            <i class="fa fa-plus"></i> Créer 
                        </button>
                    </div>
                </div>

                <br/>
                 <div class="row" ng-repeat="room in rooms" >
                    <div class="col-md-10">

                        <a href="#"  ng-click="joinRoom(room.name)" class="list-group-item">
                            <i class="fa fa-signal fa-lg"></i> {{room.name}} - {{room.owner}} is owner
                            <span class="badge"> {{room.users.length}}</span>
                        </a> 
                    </div>
                    <div class="col-md-2">

                        <button type="button" class="btn btn-danger" ng-click="leaveRoom(room.name)">
                                    <i class="fa fa-sign-out"></i> Leave 
                                </button>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-10">

                    <button type="button" html="true" class="btn btn-default" ng-model="selectedUsers" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="user.nickname for user in users" bs-select>
                      Action <span class="caret"></span>
                    </button>

                     <div class="form-group">
                        <input type="text" id="chatBox" class="form-control" ng-keyup="$event.keyCode == 13 && fireSendMessage(selectedUser)" ng-model="selectedUser" bs-options="user.nickname for user in users" placeholder="Send a message" bs-typeahead>
                    </div>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-success" ng-click="invite()"> <i class="fa fa-user-plus"></i> Invite
                    </a>
                </div>
            </div>
            <div id="chatBox" style="margin-top:10px;" schroll-bottom="messages">
                <div ng-repeat="message in messages">
                    <div class="message">
                        <div ng-if="!message.private">
                            <i class="fa fa-user fa-lg"></i> <b> {{message.nickname}} ></b> {{message.message}}

                            <div class="pull-right" style="color: gray;">
                                  <i class="fa fa-clock-o"> </i>  Sent at
                                  <time am-time-ago="time" title="{{ time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">
                                  </time>
                            </div>
                        </div> 

                        <div class="pm" ng-if="message.private">
                            <i class="fa fa-user-secret"></i><b> {{message.nickname}} ></b> {{message.message}}

                            <div class="pull-right" style="color: gray;">
                                  <i class="fa fa-clock-o"> </i>  Sent at
                                  <time am-time-ago="time" title="{{ time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">
                                  </time>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>

        <!-- list of users of a specif room
        <div class="col-md-3">
            <div class="list-group" ng-init="clicked = 'none'">
                <a href="#" ng-class="{'active':clicked === 'awaiting'}" ng-click="getTickets(0);clicked='awaiting'" class="list-group-item">
                    <i class="fa fa-user fa-lg"></i> Pending Tickets
                </a>
            </div>
        </div>-->