     	    <br />
            <div class="list-group">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="room" placeholder="Room name" />
                        <tags-input ng-model="tags" placeholder="Add some friends here" display-property="username">
                              <auto-complete source="loadUsers()"></auto-complete>
                        </tags-input>

                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning" ng-click="createRoom(room);room='';">
                            <i class="fa fa-plus"></i> Create 
                        </button>
                    </div>
                </div>

                <br/>

                <!-- 
                {
                    "_id": "567c787e947fad30167944d6",
                    "created": "2015-12-24T22:58:06.364Z",
                    "updated": "2015-12-24T22:58:06.364Z",
                    "roomName": "[marwen,user1]",
                    "__v": 0,
                    "users": [
                      "marwen",
                      "user1"
                    ]
                }
                -->
                 <div class="row" ng-repeat="room in rooms" >
                    <div class="col-md-10">
                        <!-- ng-click="joinRoom(room.name)" -->
                        <a href="#" class="list-group-item" ng-class="{active: room.roomName==activeRoom}" ng-click="setCurrentRoom(room.roomName);loadMessages(room.roomName);">
                            <i class="fa fa-signal fa-lg"></i> {{room.roomName}}
                            <span class="badge"> {{room.users.length}}</span>
                        </a> 
                    </div>
                    <!--
                    <div class="col-md-2">

                        <button type="button" class="btn btn-danger" ng-click="leaveRoom(room.name)">
                                    <i class="fa fa-sign-out"></i> Leave 
                                </button>
                    </div>
                    -->
                 </div>
            </div> 